In [89]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [90]:
todos_classificar = pd.read_excel(r'C:\Users\estoque\Documents\estoque.renan\projetos\projeto_curva_abc\analise_curva_abc\divisao\itens_para_dividir_classificar.xlsx')
situacao_final = pd.read_excel(r'C:\Users\estoque\Documents\estoque.renan\projetos\projeto_curva_abc\tratamento_curva_abc\dados_tratados\situacao_final.xlsx')

In [91]:
def refatorar_indece(df, nome_index):
    
    qnt_linha = df.shape[0] + 1

    index = [i for i in range(1, qnt_linha)]

    df.set_index(pd.Index(index), inplace=True)

    df.index.name = nome_index
    
    return df

In [92]:
end_atuais = situacao_final[['Código', 'Ender.Fracionado']]
end_atuais['Ender.Fracionado'] = end_atuais['Ender.Fracionado'].astype(str)

C:\Users\estoque\AppData\Local\Temp\ipykernel_16228\2215081464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_atuais['Ender.Fracionado'] = end_atuais['Ender.Fracionado'].astype(str)

In [93]:
index_AA = ['AA' for i in range(27)]
index_AB = ['AB' for i in range(32)]
index_AC = ['AC' for i in range(20)]

index = (index_AA + index_AB + index_AC)

In [94]:
enderecos_x_locais = pd.read_excel(r'C:\Users\estoque\Documents\estoque.renan\projetos\projeto_curva_abc\analise_curva_abc\local\locais_frac_classificados.xlsx')
enderecos_x_locais.set_index('Unnamed: 0', inplace = True)
enderecos_x_locais = enderecos_x_locais.astype(str)

# Modulo 28_29

### Verificando os itens a serem classificados

In [95]:
# Transforma a primeira coluna em uma data frame diferente
modulo_29_28 = todos_classificar[['29_28']]

# Junta o df da divisão, com o df de endereços atuais, ficando o df da divisão com os endereços de fracionados atuais
modulo_29_28 = pd.merge(modulo_29_28, end_atuais, left_on = '29_28', right_on = 'Código')
modulo_29_28.drop_duplicates(subset = ['29_28'], inplace = True)

refatorar_indece(modulo_29_28, 'Ordem_modulo')

# Verifica se esta no modulo correto
modulo_29_28['Ender.Fracionado'] = modulo_29_28['Ender.Fracionado'].astype(str)
modulo_29_28['Modulo correto'] = modulo_29_28['Ender.Fracionado'].str.startswith(('29', '28'))

# Adicionado columa com as classes
modulo_29_28['Classes'] = index

# Renomear colunas
novos_nomes = {'Ender.Fracionado' : 'Endereço Atual',
               'Código' : 'Itens do modulo 29_28',
              }
modulo_29_28.rename(columns = novos_nomes, inplace = True)

# Endereço atual do item a classificar
classe_aa_29_28_classificar = modulo_29_28[modulo_29_28['Classes'] == 'AA']['Endereço Atual']
classe_ab_29_28_classificar = modulo_29_28[modulo_29_28['Classes'] == 'AB']['Endereço Atual']
classe_ac_29_28_classificar = modulo_29_28[modulo_29_28['Classes'] == 'AC']['Endereço Atual']

# Endereços das classes 
end_classe_aa_29_28 = enderecos_x_locais[enderecos_x_locais['Classe'] == 'AA']['29_28']
end_classe_ab_29_28 = enderecos_x_locais[enderecos_x_locais['Classe'] == 'AB']['29_28']
end_classe_ac_29_28 = enderecos_x_locais[enderecos_x_locais['Classe'] == 'AC']['29_28']

# Verificando se os itens a classificar foram classificados, na classe certa e no local certo.
item_x_class_aa_29_28 = classe_aa_29_28_classificar.isin(end_classe_aa_29_28)
item_x_class_ab_29_28 = classe_ab_29_28_classificar.isin(end_classe_ab_29_28)
item_x_class_ac_29_28 = classe_ac_29_28_classificar.isin(end_classe_ac_29_28)

nova_item_x_classes_29_28 = pd.concat([item_x_class_aa_29_28, item_x_class_ab_29_28, item_x_class_ac_29_28])

modulo_29_28['Classificado'] = nova_item_x_classes_29_28

modulo_29_28.drop(columns = '29_28', inplace = True)
modulo_29_28

,Itens do modulo 29_28,Endereço Atual,Modulo correto,Classes,Classificado
Ordem_modulo,,,,,
1,106011,29.913,True,AA,False
2,11485,29.082,True,AA,True
3,106007,29.083,True,AA,True
4,10177,29.074,True,AA,True
5,101574,29.073,True,AA,True
...,...,...,...,...,...
75,10090,29.036,True,AC,True
76,101956,28.076,True,AC,True
77,1898,28.085,True,AC,False
78,10454,29.026,True,AC,True
79,130042,nan,False,AC,False

In [96]:
modulo_29_28.to_excel(r'C:\Users\estoque\Documents\estoque.renan\projetos\projeto_curva_abc\analise_curva_abc\divisao\verificacao_modulo\modulo_29_28.xlsx')

In [97]:
modulo_29_28_end = enderecos_x_locais[['29_28']]
modulo_29_28_end.set_index(pd.Index(index), inplace=True)

end_atuais['Código'] = end_atuais['Código'].astype(str)

modulo_29_28_end_x_cod = modulo_29_28_end.merge(end_atuais, how = 'left' , left_on = '29_28', right_on = 'Ender.Fracionado')

modulo_29_28_end_x_cod.drop_duplicates(inplace = True)
modulo_29_28_end_x_cod.drop(columns = 'Ender.Fracionado', inplace = True)
modulo_29_28_end_x_cod.fillna('-', inplace = True)

modulo_29_28_end_x_cod.set_index(pd.Index(index), inplace=True)

modulo_29_28_end_x_cod.to_excel(r'C:\Users\estoque\Documents\estoque.renan\projetos\projeto_curva_abc\analise_curva_abc\divisao\verificacao_modulo\enderecos_modulo_29_28.xlsx')

C:\Users\estoque\AppData\Local\Temp\ipykernel_16228\4123095041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_atuais['Código'] = end_atuais['Código'].astype(str)

In [98]:
modulo_29_28_end_x_cod

     29_28  Código
AA  28.082       -
AA  29.012   14386
AA  29.022  232487
AA  29.032  232052
AA  29.042  236019
..     ...     ...
AC  29.086   14326
AC  28.045  101823
AC  28.055       -
AC  28.065       -
AC  28.075       -

[79 rows x 2 columns]

In [99]:
todos_classificar

   Unnamed: 0   29_28   27_26   25_24   23_22   21_20   19_18
0          AA  106011  102011  101001  102138  101175  102133
1          AA   11485  102346  231064  102382  106005  101168
2          AA  106007   10085   10773  102141   10425  102398
3          AA   10177   10735  102062   10302  101940  109020
4          AA  101574   11486   10482  236003   11929   10559
..        ...     ...     ...     ...     ...     ...     ...
74         AC   10090    1111   10817  231222  101838   10373
75         AC  101956  369897   14610  101323   12208  231301
76         AC    1898  101906   61888  760039   10377   10957
77         AC   10454    1117  101367  450760   62342  450326
78         AC  130042   12011  661576   63594  233002   14263

[79 rows x 7 columns]